/* Styles go here */
body {
    background-color: rgb(105, 81, 81);
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

/* upload area */
.upload-area {
    width: 50%;
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    background: #ccc;
}

.inputImageUpload {
    display: none;
}

.upload-area__label {
    height: 100%;
    width: 100%;
    padding: 40px;
    text-align: center;
    cursor: pointer;
}
.upload-icon {
    font-size: 100px;
    display: block;
    color: #fefefe;
    text-align: center;
}

.imageToUploadOuter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    min-width: 300px;
    height: 300px;
}

.imageToUpload {
    border-radius: 20px;

    width: 100%;
    height: 100%;
}
.descr-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
#pub-title {
    
    display: block;
    height: 35px;
border-radius: 10px;
}
.pub-title-label {
    display: block;
    font-size: 20px;
    color: #f1f1f1;
    font-weight: 900;
    text-shadow: 0px 0px 4px black;
}
.cancelBtn, .addBtn {
    position: absolute;
    font-size: 60px;
    cursor: pointer;
    z-index: 2;
}
.addBtn {
    right: -35px;
    top: -40px;
    color: #44bb44;
}

.cancelBtn {
    left: -35px;
    top: -40px;
    color: rgb(148, 56, 56);
}


/* IMG WRAPPER */


.uploadedImageList {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.carousel-wrapper {
    width: 100%;
    margin: 0 auto;
} 

.carousel-inner img {
    height: 300px;
}

.img-title {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translatex(-50%);
    font-size: 30px;
    color: #f1f1f1;
    font-weight: 900;
    text-shadow: 0px 0px 4px black;
}

.btnDelImg , .btnDownloadImg  {
    font-size: 20px;
    color: #f1f1f1;
    font-weight: 900;
    text-shadow: 0px 0px 4px black;
    cursor: pointer;
    z-index: 100;
}
.btnDownloadImg {
    position: absolute;
    top: 0px;
    right: 10%;
} 
.btnDelImg {
    position: absolute;
    top: 0px;
    left: 10%;
}

.panel-body {
    display: flex;
    flex-wrap: wrap;
}
.mini-img {
    width: 50px;
    height: 50px;
    margin: 5px;
}
.mini-img img {
    width: 100%;
    height: 100%;
}




.panel-heading {
    padding: 20px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    color: #f1f1f1;
    text-transform: uppercase;
}




