#check:checked ~ .wrapper {
    margin-left: 25%;
    transition: all .5s ease;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -25%;
    width: 25%;
    height: 100%;
    background: url('../img/sidebar.png') center center/cover no-repeat;
    transition: all .5s ease;
    box-shadow: 0 0 2px 2px black;
}
ul {
    list-style-type: none;
}
.sidebar__title {
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 70px;
    background-color: #212b31;
    text-shadow: 0px 0px 4px black;
    font-weight: 700;
}

.sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding-left: 40px;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
}

#check {
    display: none;
}
label #btnOpenMenu, label #btnCloseMenu {
    position: absolute;
    cursor: pointer;

    border-radius: 3px;
    width: 30px;
    height: 30px;
    transition: all .5s ease;
}
label #btnOpenMenu {
    left: 40px;
    top: 20px;
    font-size: 35px;
    color: #fff;
    padding:2px;
    &::after {
        content: 'Add Image';
        line-height: 30px;
        display: block;
        position: absolute;
        left: 50px;
        top: -2px;
        width: 20px;
        height: 20px;
    }
  
}
label #btnCloseMenu {
    z-index: 1111;
    left: -195px;
    top: 20px;
    font-size: 30px;
    color: #fff;
    padding: 2px;
}
#check:checked ~ .sidebar {
    left: 0;
    opacity: 1;
}

#check:checked ~ label #btnOpenMenu  {
    pointer-events: none;
}
#check:checked ~ label #btnCloseMenu  {
    left: 22%;
}
.descr-wrapper {
    margin: 10px 0;
}
#pub-title {
    width: 100%;
    height: 35px;
    border-radius: 10px;
}

.pub-title-label,.pub-descr-label {
    display: block;
    font-size: 20px;
    color: #f1f1f1;
    font-weight: 900;
    text-shadow: 0px 0px 4px black;
}
.imageName,.imageType,.imageSize,.imageWidth,.imageDate,.imageOrientation {
    font-size: 17px;
    color: #fff;
    line-height: 23px;
    max-height: 50px;
    overflow: hidden;
}
.metaField {
    font-size: 18px;
    color: #f1f1f1;
    font-weight: 900;
    text-shadow: 0px 0px 4px black;
}
