.storage {
    position: absolute;
    bottom: 3%;
    left: 10%;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    text-shadow: 0px 0px 4px black;
}

.btnClearImages,.btnClearStorage {
    font-size: 16px;
    margin-top: 3px;
    padding: 5px 5px;
    background: #ccc;
    border: 1px solid black;
    border-radius: 8px;
    color: #0d0d0d;
    &:hover {
        box-shadow: 0 0 5px #fff;
       }
}

